<section>
  <h1>About Me</h1>
  <p>I'm Dio PP, a System Analyst, Software Developer and Unix black screen fan</p>
  {% include asides/social/picture.html %}
  <b><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The force is strong with this one</p><br></b>
  <p>You can read more about me on my <a href="/about/">about</a> page. To see what I'm working on, check out my GitHub page <a href="https://github.com/di0">here</a>.</p>
  <p>Furthermore my resume can be found <a href="https://www.linkedin.com/in/diogo-pereira-pinto-7607a13a/">here</a>.</p>
  <div class="social-icons">
    {% include asides/social/facebook.html %}
    {% include asides/social/linkedin.html %}
    {% include asides/social/googleplus.html %}
    {% include asides/social/github.html %}
    {% include asides/social/twitter.html %}
  </div>
</section>
